<div class="slider__inner" >
    <div class="slider__contents" >
          <div class="row">

                    <div class="col-md-4 text-center">
                        <div class="menu-wrap">
                            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="menu-img" />
                            <div class="text">
                                <h5>Margherita Pizza</h5>
                                <p style="color: #808080">Classic pizza with tomato sauce, mozzarella, and fresh basil</p>
                                <p class="price"><span style="color: #ffc107">$10.99</span></p>
                                <p><a href="#" class="btn-service mb-3">Add to cart</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="menu-wrap">
                            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="menu-img" />
                            <div class="text">
                                <h5>Hawaiian Pizza</h5>
                                <p style="color: #808080">Pizza with tomato sauce, mozzarella, ham, and pineapple</p>
                                <p class="price"><span style="color: #ffc107">$12.5</span></p>
                                <p><a href="#" class="btn-service mb-3">Add to cart</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="menu-wrap">
                            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="menu-img" />
                            <div class="text">
                                <h5>Pepperoni & Mushroom Pizza</h5>
                                <p style="color: #808080">Pizza with tomato sauce, mozzarella, pepperoni, and mushrooms</p>
                                <p class="price"><span style="color: #ffc107">$11.5</span></p>
                                <p><a href="#" class="btn-service mb-3">Add to cart</a></p>
                            </div>
                        </div>
                    </div>


         </div>
    </div>

    <div class="slider__contents" >
          <div class="row">

                    <div class="col-md-4 text-center">
                        <div class="menu-wrap">
                            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="menu-img" />
                            <div class="text">
                                <h5>Vegetarian Pizza</h5>
                                <p style="color: #808080">Pizza with tomato sauce, mozzarella, bell peppers, onions, olives, and mushrooms</p>
                                <p class="price"><span style="color: #ffc107">$10.99</span></p>
                                <p><a href="#" class="btn-service mb-3">Add to cart</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="menu-wrap">
                            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="menu-img" />
                            <div class="text">
                                <h5>Meat Lover's Pizza</h5>
                                <p style="color: #808080">Pizza with tomato sauce, mozzarella, pepperoni, sausage, bacon, and ham</p>
                                <p class="price"><span style="color: #ffc107">$13.99</span></p>
                                <p><a href="#" class="btn-service mb-3">Add to cart</a></p>
                            </div>
                        </div>
                    </div>


         </div>
    </div>
    </div>
