* {
    margin: 0;
}

.admin_main {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Define two columns with a ratio of 1:3 */

    width: 100vw;
    height: 100vh;
}

.logoicon {
    width: 50px;
    margin-right: 30px;
}

.light {
    color: #fff;
}

.leftbar {
    background-color: #212529;
    border: 1px solid #808080 !important;
    padding: 20px;
}

.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 90%;
    color: #fff;
}

.nav-item.active .nav-link {
    background-color: #fac5641c;
    color: #fff;
}

.nav-item:hover .nav-link {
    background-color: #fac5641c;
    color: #fff;
}

/* Hover effect */
.nav-link:hover {
    background-color: #f0f0f0;
    color: #333;
}
.navicon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    color: #fac564;
    padding: 6px;
}

.nav-item.active .navicon {
    background-color: #fac564;
}

.nav-item:hover .navicon {
    background-color: #fac564;
}

.rightbar {
    padding: 20px;
    background-color: #212529;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
    }
}

.navbar-nav li {
    animation: fadeInBottom 1s both;
    display: inline-block;
}
