/* 2 */
.slider {
    position: relative;
    width: 100%;
    background: #2c3e50; /* darckblue */
}

.myslide {
    height: 655px;
    display: none;
    overflow: hidden;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    user-select: none;
}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
/* /2 */

/* muslide add fade */

/* /muslide add fade */

/* 3 */
.txt {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    z-index: 1;
}

.txt h1 {
    color: #00a7ff; /* blue */
    font-size: 50px;
    margin-bottom: 20px;
}

.txt p {
    font-weight: bold;
    font-size: 20px;
}
/* /3 */

/* 4 */
/* No animation */
/* /4 */

/* 5 */
@media screen and (max-width: 800px) {
    .myslide {
        height: 500px;
    }

    .txt {
        letter-spacing: 2px;
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .txt h1 {
        font-size: 40px;
    }

    .txt p {
        font-size: 13px;
    }
}
/* /5 */

/* 6 */
@media screen and (max-width: 520px) {
    .txt h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .sign {
        margin-right: 20px;
    }

    .sign a {
        font-size: 12px;
    }
}
/* /6 */
