.product {
    border-radius: 10px;
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px !important;
}

th {
    /* background-color: #fac5641c !important; */
    font-size: small;
}

th,
td {
    padding: 8px;
}

h5 {
    padding: 10px 0px 10px 30px;
}

.productimg {
    width: 70px;
    height: 70px;
    border-radius: 10%;
}

.edit {
    margin-right: 5px;
    background-color: rgb(0, 128, 0, 0.5);
    border: 0.5px solid #808080;
    padding: 5px 10px !important;
    color: #ffffff;
    width: 80px !important;
    text-align: center;
}

.delete {
    border: 0.5px solid #808080;
    padding: 5px 10px !important;
    color: #ffffff;
    width: 80px !important;
    text-align: center;
    background-color: rgb(255, 0, 0, 0.5);
}

.signinicon {
    width: 20px;
    margin-right: 10px;
}

.rightnav-header {
    display: flex;
    color: #ffffff;
}

.addbtn {
    background-color: rgb(250, 197, 100);
    color: #000;
    border: 0.5px solid #808080;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 5px 10px !important;
    float: right;
    width: 100px !important;
    margin-right: 30px;
    text-align: center;
}

/*--- product form -------- */

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    color: #fac564;
    border-radius: 5px;
    height: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px !important;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-form,
.productcreate-form {
    margin-top: 50px;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fac5641c;
    color: #fac564;
    height: auto;
}

.updateproductbtn {
    background-color: #fac564;
    color: #000;
    border: 0.5px solid #000;
    text-decoration: none;
    padding: 8px 10px !important;
    width: auto !important;
    margin-right: 30px;
    text-align: center;
    border-radius: 3px;
}

.addnewproductbtn {
    background-color: #fac564;
    color: #000;
    border: 0.5px solid #000;
    text-decoration: none;
    padding: 5px 10px !important;
    width: auto !important;
    margin-right: 30px;
    text-align: center;
    border-radius: 3px;
}
