.rider {
    border-radius: 10px;
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px !important;
}

th {
    /* background-color: #fac5641c !important; */
    font-size: small;
}

th,
td {
    padding: 8px;
}

h5 {
    padding: 10px 0px 10px 30px;
}

.productimg {
    width: 70px;
    height: 70px;
    border-radius: 10%;
}

.edit {
    margin-right: 5px;
    background-color: rgb(0, 128, 0, 0.5);
    border: 0.5px solid #808080;
    padding: 5px 10px !important;
    color: #ffffff;
    width: 80px !important;
    text-align: center;
}

.delete {
    border: 0.5px solid #808080;
    padding: 5px 10px !important;
    color: #ffffff;
    width: 80px !important;
    text-align: center;
    background-color: rgb(255, 0, 0, 0.5);
}

.signinicon {
    width: 20px;
    margin-right: 10px;
}

.rightnav-header {
    display: flex;
    color: #ffffff;
}

.addbtn {
    background-color: rgba(0, 0, 255, 0.5);
    color: #ffffff;
    border: 0.5px solid #808080;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 5px 10px !important;
    float: right;
    width: 100px !important;
    margin-right: 30px;
    text-align: center;
}

/*--- product form -------- */
form {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #fac564;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #fac564;
}
