.user {
    border-radius: 10px;
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 20px;
    border-radius: 10px !important;
}

th {
    font-size: small;
}

th,
td {
    padding: 8px;
}

h5 {
    padding: 10px 0px 10px 30px;
}

.profileimg {
    width: 70px;
    height: 70px;
    border-radius: 10%;
}

.signinicon {
    width: 20px;
    margin-right: 10px;
}

.rightnav-header {
    display: flex;
    color: #ffffff;
}
